.menuP,
.menuS {
    color: white;
    font-family: RobotoM, sans-serif;
    font-size: 17px;
    cursor: pointer;
}


.menuP {
    padding: 20px 40px;
    border: none;
    position: relative;
    text-align: center;
    color: #000000;
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: white;
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;

}

.menuP:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: .5s;
}

.menuP:hover {
    animation: animate 8s linear infinite;
    color: #ffffff;
}

.menuP:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}


.menuS {
    padding: 19px 40px;
    border: none;
    position: relative;
    text-align: center;
    color: #000000;
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: white;
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
}

.menuS:hover {
    animation: animate 8s linear infinite;
    color: #ffffff;

}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}


.menuS:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: .5s;
}



.menuS:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}

.menuP button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
