.footer {
    margin-top: 150px;
    padding-top: 107px;
    padding-bottom: 107px;
    display: flex;
    justify-content: space-around;
}

.links {
    display: flex;
    flex-direction: column;
    margin-right: 75px;
}


.footer__links {
    display: flex;

}

.links__title {
    font-size: 20px;
    font-family: RobotoM, sans-serif;
    color: white;
    margin-bottom: 40px;
    margin-top: 0px;
}

.links a {
    font-family: RobotoM, sans-serif;
    color: white;
    text-decoration: none;
    margin-bottom: 19px;

}

.links a:hover {
    color: gray;

}

.info__logos a {
    margin-right: 24px;
    text-decoration: none;


}

.info__location,
.info__phone {
    display: flex;
    align-items: center;
    font-family: RobotoM, sans-serif;
    color: white;
}


.info__logos img {
    width: 40px;
}

.info__location img,
.info__phone img {
    margin-right: 17px;
}

.info__logos {
    margin-top: 40px;
    margin-left: 6px;
}

.info__phone {
    margin-top: 20px;
    margin-left: 6px;
}